.normal {
    background-color:rgb(14, 231, 14);
    
}

.rojo {
   background-color: rgb(241, 23, 23);
}

.novisible {
    display: none;
}

.target {
    background-color: rgb(121, 182, 182);
    /* padding: 5%; */
    width: 100vh;
    height: 50vh;
    border-radius: 5%;
}

.title {
    /* background-color: blue; */
    height: auto;
    width: auto;
    position:fixed;
    margin: 5vh 20vh;
    color: brown;
}

.description { 
    /* background-color: blueviolet; */
    margin: 13vh 15vh 10vh 5vh;
    padding: 6vh;
    position: relative;
    width: 80vh;
    bottom: -15vh;
}
